<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/spending/layout::head"></head>
<body>
<div th:replace="/spending/layout::header"></div>
    <fieldset>
        <legend><h3>THÔNG KHOẢN CHI TIÊU</h3></legend>

        <div class="input-info">
            <lable for="category"><h5>Danh mục chi tiêu</h5></lable>
            <input type="text" id="category" disabled th:value="${spending.category.getName()}">
        </div>
        <div class="input-info">
            <lable for="name"><h5>Tên khoản chi tiêu</h5></lable>
            <input type="text" disabled id="name" th:value="${spending.name}">
        </div>
        <div class="input-info">
            <lable for="price"><h5>Giá tiền</h5></lable>
            <input type="text" disabled id="price" th:value="${spending.price}">
        </div>
        <div class="input-info">
            <lable for="description"><h5>Ghi chú</h5></lable>
            <input type="text" disabled id="note" th:value="${spending.note}">
        </div>
        <div class="input-info">
            <lable for="image"><h5>Ảnh hoá đơn</h5></lable>
            <img th:src="@{/image/__${spending.image}__}" width="100" height="100">
        </div>
    </fieldset>
</body>
</html>